<img src="{{imageUrl}}" alt="vehicle image" width="200px">
<div>
<p>User info:</p>
<p>{{username}}</p>
<p>{{phoneNo}}</p>
</div>
<div>
<p>Vehicle info:</p>
<p>{{brand}}</p>
<p>{{model}}</p>
<p>Seats: {{seats}}</p>
<p>Doors: {{doors}}</p>
<p>{{year}}</p>
<p>Price-> {{price}}</p>
</div>
