{{#with listingDetails}}
<img src="{{imageUrl}}" alt="details image" width="200">
<p>{{brand}}</p>
<p>{{model}}</p>
<p>Seats: {{seats}}</p>
<p>Doors: {{doors}}</p>
<p>Owner: {{username}}</p>
<p>Reviews:</p>
{{#each reviews}}
<p>{{author}}</p>
<p>{{content}}</p>
<p>{{likes}}</p>
<p>{{dislikes}}</p>
{{/each}}
{{/with}}